[Desktop Entry]
Comment=Launcher and package manager for RVGL
Terminal=false
Name=RVGL Launcher
Type=Application
Categories=Game
Icon=org.rvgl.rvmm
Exec=rvgl_launcher %u
MimeType=x-scheme-handler/rvmm;x-scheme-handler/discord-472158403830218762
